*{
    margin: 0px;
}

.header 
{
      background-color: #111;
      color: white;
      display: flex;
    h1{
        padding: 5px 500px 5px 20px;
    }

    a{
        font-size: 20px;
        padding: 5px 8px 5px 5px;
        margin: 5px 8px 5px 5px;
        
        text-decoration: none;
        color: white;
     }
     a:hover{
        color: red;
     }
}

 .Home
{
    background-image: url("image/fabio-lucas-BiJ1oGtdMEc-unsplash.jpg");
    width:auto;
    height: 600px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: scroll;
    margin-top: 0px;
    align-items: center; 
    justify-content: center;
    
    text-align: center;
    h1{
        padding-top: 150px;
        font-size: 100px;
        color: rgb(74, 74, 77);
    }
    strong
    {
        padding-top: 50px;
        color: rgb(112, 111, 111);
        font-size: 25px;
    } 
}

.Services
{
    h2{
font-size: 40px;
    }
    img
    {
        padding: 15px;
        height: 45px;
        align-items: center;
        justify-self: center;
        border: 6px solid rgb(43, 43, 43);;
        border-radius: 100%;
    }
    img:hover{
        background-color: rgb(46, 46, 46);;
        border: 5px solid rgb(101, 100, 100);
        

    }
    
    text-align: center;
    margin: 50px;

    .one
    {
    display:flex; 
    justify-content: center
    
    }

    .two{
    display:flex; 
    justify-content: center
    }

    .boxes
    {
    padding: 20px;
    width: 250px;               
    border-radius: 10px;        
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); 
    margin: 10px;  

    h3
    {
    font-size: 20px;
    }   

    p{
    font-size: 10px;
    color: #706f6f;
    }

}
}

.Portfolio
{
    text-align: center;
    img{
        height: 200px;
        
        width: 300px;;
        transition: transform 0.3s ease;
    }
    img:hover {
  transform: scale(1.05); /* Zoom in by 10% */
}
    .three
    {
        border-radius: 10px;
        display: inline-block;
    display:flex; 
    justify-content: center;
    strong{margin: 3px 15px 3px;}
    p{margin:3px 15px 3px;}
    }

    .four{
    display:flex; 
    justify-content: center;
    strong{margin: 3px 15px 3px;}
    p{margin:3px 15px 3px;}
    }

    .boxes
    {
    
    text-align: start;
    width: 300px;
    height: 260px;
    border-radius: 10px;        
    box-shadow: 0 4px 8px rgba(0,0,0,0.5); 
    margin: 10px;  

   }
}

footer{
    margin: 30px 0px 0px;
    padding: 15px;
    height: 30px;
    text-align: center;
    justify-self: center;
    background-color:#222;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
    p{
        background-color: #222;
    }
}
